<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
    //- switch case 
    -var a=22
    case a
        when 1
            div aaa 
        when 10
            div bbb
        default
            |不靠谱      